.profile {
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 300px;
}

.profile img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.profile h3 {
    text-align: center;
}