.profile {
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 300px;
}

.profile img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.profile button,
.profile div,
.profile h3 {
    margin: 10px;
}

.profile button,
.profile .bio {
    display: none;
}

.profile h3 {
    text-align: center;
}


/* Fullscreen styling... */
.profile.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile.full-screen img {
    width: auto;
    object-fit: cover;
    height: auto;
}

.profile.full-screen button {
    position: fixed;
    top: 10px;
    right: 10px;
}

.profile.full-screen button,
.profile.full-screen .bio {
    display: inherit;
}